<style>
  .center {
    width: 500px;
    height: 500px;
    background-color: white;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
  }
</style>
<div class="center">

  <h1 style="text-align:center">
    <% if @target == "p1"%>
      <%= @game.player_1.name %> healed by 10
    <% elsif @target == "p2" %>
      <%= @game.player_2.name %> healed by 10
    <% else %>
      No Target
    <% end %>
  </h1>

  <form action="/play" style="text-align:center">
    <input type="submit" value="Return To Game">
  </form>
</div>
