<!-- Titles -->
<div>
  <h1> Battle! <h1>
  <h2> Enter your fighters </h2>
</div>

<!-- Form Section -->
<div style='border: 3px red solid'>

  <form action="/names" method="post">

    <!-- Player One -->
    <label for="player_1_name">
      Player 1 Name
      <input type="text" name="player_1_name">
    </label>

    <!-- Player Two -->
    <label for="player_2_name">
      Player 2 Name
      <input type="text" name="player_2_name">
    </label>

    <!-- Submit Button -->
    <input type="submit" value="Submit">
    
  </form>
</div>
